<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="../myStyles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Bearbeiten</title>
</head>
<body>
<div align="center">
    <h1>Edit Product</h1>
    <br />
    <form action="#" th:action="@{/resolutionuser/save}" th:object="${resolutionItem}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>itemId</td>
                <td>
                    <input type="text" th:field="*{itemId}" readonly="readonly" />
                </td>
            </tr>
            <tr>
                <td>Ich will:</td>
                <td>
                    <input type="text" th:field="*{title}" />
                </td>
            </tr>

            <tr>
                <td>Beschreibung:</td>
                <td><input type="text" th:field="*{description}" /></td>
            </tr>
            <tr>
                <td>Status:</td>
                <td><input type="text" th:field="*{status}" /></td>
            </tr>
            <tr>
                <td>userId:</td>
                <td>
                    <input type="text" th:field="*{userId}" readonly="readonly" />
                </td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>